body {
    background-color: #2a2a2a;
    color: lightgray;
    font-family: 'Merriweather Sans', sans-serif;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-size: small;
    padding-bottom: 40px;
}

#sendButtons {
    text-align: center;
    padding-bottom: 20px;
}

.send {
    color: black;
    height: 30px;
    background-color: lightgray;
    border-radius: 8px;
    font-size: 22px;
}
.send:hover {
    color: black;
    background-color: lightsteelblue;
}

a {
    color: white;
}
a:hover {
    color: white;
}

#searcher {
    text-align: center;
}

#search {
    color: black;
    background-color: lightgray;
    border-radius: 3px;
}
#search:hover {
    color: black;
    background-color: lightsteelblue;
}